@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

* {
  margin: 0;
  font-weight: bold;
  font-family: "Rajdhani", sans-serif !important;

  &::-webkit-scrollbar-thumb {
    background-color: #7166f8;
    border-radius: 2px;
  }

  &::-webkit-scrollbar {
    width: 3px;
  }
}
